{% extends "layout.html" %}

{% block body  %}

<h3>Hakkımızda</h3>
<hr>
<p>Hakkımda biraz bilgi vermek istiyorum. Şu anda okuduğunuz kişisel blog sitesinin  kurucusu ve tek yazarıyım 7 ocak 1987 tarihinde Hatay‘ın Dörtyol ilçesinde doğmuşum. İnsanları kırmayı hiç sevmem, eğer bir insanın kalbini bilmeyerek kırdıysam bunun farkına vardığımda o insandan özür diler gönlünü almaya çalışırım. İster tanıdığım olsun ister tanımadığım veya dili , dini, ırkı ne olursa olsun hiç kimseye karşı ön yargılı davranmam, genelde sakin biriyimdir. Bir olay karşısında bağırıp çağırmak yerine olayı nasıl çözerim onu düşünürüm, önce karşımdaki insanı dinler mantıklı çözümler üretmeye çalışırım.</p>
<hr>
{% endblock body %}